<div class="jumbotron">
  <h2><%= gettext "Prueba Liftit Backend - %{name}!", name: "Daniel Torres" %></h2>
  <p class="lead">
    Esta aplicación fue creada como solución a la prueba práctica de liftit.
    A través de los enlaces de abajo puede acceder a la creación propietarios de vehículos
    y vehículos.
    Los tipos de vehículos están definidos desde base de datos y no entran en 
     el alcande de esta app.
  </p>
</div>